<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="muzi.sdslabs.co.in"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="muzi.sdslabs.co.in.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilteredList"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SearchResults"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SearchResultsWithTab"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SongsFromAlbums"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SongsFromArtists"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TopTracks"
            android:configChanges="orientation"
            android:label="Top Tracks" >
        </activity>
        <activity
            android:name=".TopAlbums"
            android:configChanges="orientation"
            android:label="Top Albums" >
        </activity>
        <activity
            android:name=".LangSettings"
            android:label="Language Settings" >
        </activity>
        <activity
            android:name=".UserSettings"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".NowPlayingList"
            android:label="Now Playing List" >
        </activity>
        <activity
            android:name=".Radio"
            android:label="Radio" >
        </activity>

        <service android:name=".MusicService" />
    </application>

</manifest>